
<div class="container h-100 d-flex">
  <div class="col-8 m-auto">
    <div class="12">
      <div style="text-align:center; margin-top: 150px;">

        <h1>{{mess}}</h1>

      </div>

      <div class="row">
        <div class="col-6">
          <button (click)="clickToConnect()" class="btn btn-primary">Click Me</button>
        </div>
        <div class="col-6">
          <button (click)="logOut()" class="btn btn-primary">Log Out</button>
        </div>
      </div>
    </div>
  </div>
</div>




